<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>

<body>
  <footer class="footer">
    <div class="footer__wrap">
      <!-- Row 1 -->
      <div class="footer__row--1">
        <!-- Logo & Text -->
        <div class="footer__brand">
          <div class="footer__brand-wrap">
            <div class="footer__logo">
              <img src="../assets/logos/logo9.svg" alt="Florience Logo" />
            </div>

            <div class="footer__text">
              <p>
                Florience is a floral design studio based in London, specializing in bespoke floral designs for weddings and events across the UK and beyond.
              </p>
            </div>

            <div class="footer__social">
              <a href="https://www.instagram.com/" target="_blank">
                <img src="../assets/icons/instagram.png" alt="Instagram" />
              </a>
              <a href="https://www.facebook.com/" target="_blank">
                <img src="../assets/icons/facebook.png" alt="Facebook" />
              </a>
              <a href="https://www.pinterest.com/" target="_blank">
                <img src="../assets/icons/pinterest.png" alt="Pinterest" />
              </a>
              <a href="https://www.tiktok.com/" target="_blank">
                <img src="../assets/icons/tik-tok.png" alt="Tik Tok" />
              </a>
            </div>
          </div>
        </div>

        <!-- Navigation -->
        <nav class="footer__nav">
          <ul class="footer__nav-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>

        <!-- Contact -->
        <div class="footer__contact">
          <div class="footer__contact-wrap">
            <h3>Contact</h3>
            <ul class="footer__contact-list">
              <li>
                <img src="../assets/icons/location.svg" alt="Location"> 4 Privet
                Drive, Little Whinging, Surrey
              </li>
              <li><img src="../assets/icons/phone.svg" alt="Phone Number">+1(949)
                345-2574</li>
              <li><img src="../assets/icons/mail.svg" alt="Email">email@email.com</li>
            </ul>
          </div>
        </div>

        <!-- Newsletter -->
        <div class="footer__newsletter">
          <h3>Newsletter</h3>
          <p>Learn our latest news</p>
          <form>
            <input type="email" id="email" placeholder="email@email.com" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="footer__row--2">
        <!-- Legal -->
        <div class="footer__credits">
          <p>
            &copy; 2024-2025 Lito Karageorgou |
            <a target="_blank" href="https://icons8.com/icon/mHR6Am8NPK1s/flower">Flower</a>
            icon by <a target="_blank" href="https://icons8.com">Icons8</a> |
            <a href="https://www.flaticon.com/free-icons/social-media" title="social media icons">Social media icons
              created by Freepik - Flaticon|</a>
            <a href="https://www.flaticon.com/packs/arrows-1094" title="arrow icons">Arrow icons created by Laisa Islam Ani - Flaticon</a>
          </p>
        </div>
        <div class="footer__legal">
          <a href="#">Terms & Conditions</a>
          <a href="#">Privacy Policy</a>
        </div>
      </div>
  </footer>
</body>

</html>