<header class="navbar">
  <div class="navbar__wrap">
    <!-- Desktop menu -->
    <nav class="navbar__menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <!-- Logo -->
    <div class="navbar__logo">
      <a href="index.html">
        <img src="../assets/logos/logo9.svg" alt="Florience Logo" />
      </a>
    </div>

    <!-- Language selection and social media -->
    <div class="navbar__social-and-language">
      <a href="https://www.instagram.com/" target="_blank">
        <img src="../assets/icons/instagram.png" alt="Instagram" />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <img src="../assets/icons/facebook.png" alt="Facebook" />
      </a>
      <a href="https://www.pinterest.com/" target="_blank">
        <img src="../assets/icons/pinterest.png" alt="Pinterest" />
      </a>
      <a href="https://www.tiktok.com/" target="_blank">
        <img src="../assets/icons/tik-tok.png" alt="Tik Tok" />
      </a>
      <select id="language">
        <option value="en">English</option>
        <option value="gr">Greek</option>
      </select>
    </div>
  </div>

  <!-- Responsive Menu moved outside of .navbar__burger-menu -->
  <nav id="responsive-menu" class="responsive-menu hidden">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="services.html">Services</a></li>
      <li><a href="portfolio.html">Portfolio</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <!-- Burger menu for tablets and phones moved below -->
  <div class="navbar__burger-menu">
    <button id="burger-menu-toggle" aria-label="Toggle menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>