/* Hero Section */ 
.hero__container {
  background: url("../assets/images/homepage-portfolio/line.jpg") no-repeat center 75%/cover #414040;
}

/* Story & Designer */
.section__container {
  height: 80vh;
}

.section__wrap {
  width: 60%;
  height: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section__image {
  height: 90%;
  width: 46%;
}

.section__text {
  width: 40%;
}

.section__text h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  padding-bottom: 2.2rem;
  font-weight: 400;
}

.section__text p {
  line-height: 1.6;
}

.section__image--story{
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg") no-repeat center center/cover #414040;
}

.section__image--designer{
  background: url("../assets/images/homepage-portfolio/bouquet2.jpg") no-repeat center center/cover #414040;
}

/* Values */
.values__container h2 {
  text-transform: uppercase;
  opacity: 0.5;
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  color: #e2e0da;
}

.values__wrap {
  padding: 2rem;
  background-color: var(--primary-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.values__value {
  padding: 2rem 2.5rem;
}

.values__value h3 {
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 200;
}

.values__value p {
  font-size: 0.8rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
}

/* Call to Action */
.cta {
  background: url("../assets/images/homepage-portfolio/line.jpg") no-repeat center 70%/cover var(--tetriary-color);

  /* Parallax Scroll Effect */
  background-attachment: fixed;
}