/* Hero Section */
.hero {
  background: url("../assets/images/about/hero.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

/* Story & Designer */
.section {
  height: 80vh;
}

.section__wrap {
  width: 55%;
  height: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.section__image {
  height: 90%;
  width: 46%;
}

.section__text {
  width: 35%;
}

.section__text h2 {
  text-transform: capitalize;
  line-height: 1.2;
}

.section__image--story {
  background: url("../assets/images/common/florist-arch.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

.section__image--designer {
  background: url("../assets/images/common/florist.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

/* Values */
.values {
  position: relative;
  margin-top: 2rem;
}

.values h2 {
  top: -19%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.values__wrap {
  padding: 2rem;
  background-color: var(--primary-color);
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.values__value {
  padding: 2rem 2rem;
  opacity: 0;
}

/* Animation */
@keyframes slideInLeft {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.values__value:nth-child(1).animate {
  animation: slideInLeft 0.5s 0s forwards ease;
}

.values__value:nth-child(2).animate {
  animation: slideInLeft 0.5s 0.2s forwards ease;
}

.values__value:nth-child(3).animate {
  animation: slideInLeft 0.5s 0.4s forwards ease;
}

.values__value h3 {
  padding: 1.7rem 0;
}

.values__value p {
  text-align: left;
}

/* Call to Action */
.cta {
  background: url("../assets/images/about/colourful-table-setting.jpg")
    no-repeat center 40% / cover var(--image-placeholder);

  /* Parallax Scroll Effect */
  background-attachment: fixed;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  /* Story & Designer */
  .section {
    height: auto;
  }

  .section__wrap {
    width: 88.5%;
    gap: 2.5rem;
  }

  .section__image {
    height: 32rem;
    width: 25rem;
  }

  .section__text {
    width: 50%;
  }

  .section__text span {
    display: none;
  }

  /* Values */
  .values h2 {
    font-size: 5.5rem;
    top: -8.5%;
    width: 80%;
  }

  .values__wrap {
    width: 88.5%;
    flex-direction: column;
  }

  .values__value {
    padding: 1.3rem 1rem;
  }

  .values__value h3 {
    padding: 1.5rem 0;
  }
}

/* Larger Phone styles */
@media screen and (max-width: 576px) {
  /* Story & Designer */
  .section {
    height: auto;
    width: 100%;
  }

  .section__wrap {
    width: 88%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .section__image {
    height: 39rem;
    width: 100%;
    order: 1;
  }

  .section__text {
    width: 93%;
    order: 2;
  }

  /* Values */
  .values h2 {
    font-size: 5.5rem;
    top: -7.5%;
    width: 100%;
  }

  .values__wrap {
    width: 90%;
    flex-direction: column;
  }

  .values__value {
    padding: 1.3rem 1rem;
  }

  .values__value h3 {
    padding: 1.5rem 0;
  }
}
