* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

:root {
  --primary-color: #f8f6f1;
  --secondary-color: #fbfaf7;
  --tetriary-color: #f1eeea;
  --accent-color: #dcdad5;
  --hover-color: #acacab;
  --backdrop-color: #f9f7f2ea;
  --image-placeholder: #7a7975;
  --primary-font-color: #636260;
  --font-heading: "Cormorant Garamond", serif;
  --font-body: Lato, Roboto, serif;
}

.container {
  display: flex;
  flex-direction: column;
  color: var(--primary-font-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 1.1;
  text-transform: uppercase;
}

h2 {
  font-size: 3.5rem;
}

p,
a {
  font-family: var(--font-body);
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  /* text-shadow: 0 0 1px rgba(0, 0, 0, 0.2); */
}

a {
  text-decoration: none;
  color: var(--primary-font-color);
  font-size: 0.95rem;
}

a,
button {
  cursor: pointer;
}

ul {
  list-style: none;
}

/* Heading classes */
.extra-large-heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6.4rem;
  color: var(--accent-color);
  position: absolute;
}

.large-heading {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 400;
  text-align: left;
}

.medium-heading {
  margin-bottom: 1.7rem;
  font-size: 2.95rem;
  font-weight: 500;
  line-height: 1.3;
}

.small-heading {
  padding: 0.9rem 0 1rem 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: 0.5px solid var(--accent-color);
}

/* Colored Container */
.white-color-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  padding-bottom: 6.8rem;
}

/* Navbar */
.navbar {
  width: 100%;
}

.navbar__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  letter-spacing: 2px;
  width: 88.6%;
  margin: auto;
}

.navbar ul li a {
  text-transform: uppercase;
  font-size: 0.75rem;
}

.navbar a:hover {
  color: var(--hover-color);
}

.navbar__menu ul {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.navbar__logo {
  display: flex;
  justify-content: center;
}

.navbar__logo img {
  padding: 1.5rem 0;
  height: 6.2rem;
  filter: invert(45%);
}

.navbar__social-and-language select {
  border: none;
  color: var(--primary-font-color);
  font-family: var(--font-heading);
  font-size: 1.1rem;
  font-style: italic;
  padding: 0 0.3rem 0.1rem 0;
  margin-left: 1.4rem;
}

.navbar__social-and-language {
  display: flex;
  justify-content: flex-end;
  gap: 1.15rem;
}

.navbar__social-and-language img {
  height: 1.1rem;
  filter: invert(48%);
}

/* Keep burger menu from breaking desktop layout */
.navbar__burger-menu {
  position: absolute;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  padding-bottom: 6.8rem;
}

/* Hero Section*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

/* Buttons */
.button {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--font-body);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.24rem;
}

.button--primary {
  padding: 1rem 1.4rem;
  background-color: var(--tetriary-color);
  margin-top: 0.7rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button--primary:hover {
  transform: scale(1.04);
  background-color: var(--primary-color);
}

.button--secondary {
  padding: 1rem 0.3rem;
  margin-top: 2rem;
  border-bottom: 0.3px solid var(--accent-color);
  position: relative;
  transition: color 0.3s ease;
  z-index: 1;
}

.button--secondary::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #dcdad54b;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  z-index: -1;
}

.button--secondary:hover::before {
  transform: scaleY(1);
}

.arrow-button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.arrow-button img {
  width: 1.9rem;
  filter: invert(80%);
}

/* Featured */
.featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__wrap {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured__logos {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
  min-height: 15rem;
}

.featured__logos h3 {
  font-weight: 600;
  color: #7a7975;
  text-transform: uppercase;
  flex: 1;
  text-align: center;
}

/* Call to Action */
.cta {
  background: var(--tetriary-color);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: var(--secondary-color);
}

.cta__wrap {
  position: absolute;
  left: 21%;
  top: 35%;
}

.cta__wrap h2 {
  font-size: 3.2rem;
  font-weight: 400;
  color: var(--secondary-color);
  padding: 0.7rem 0;
}

.cta__wrap h2 span {
  font-style: italic;
}

/* Instagram Grid */
.instagram__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram__wrap a {
  padding-bottom: 2.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}

.instagram__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.instagram__image {
  width: 11rem;
  height: 11rem;
}

.instagram__image--1 {
  background: url("../assets/images/index/bouquet2.jpg") no-repeat bottom
    center/cover var(--image-placeholder);
}

.instagram__image--2 {
  background: url("../assets/images/index/blue-flower-fullsize.jpg") no-repeat
    center center/cover var(--image-placeholder);
}

.instagram__image--3 {
  background: url("../assets/images/index/line.jpg") no-repeat bottom
    center/cover var(--image-placeholder);
}

.instagram__image--4 {
  background: url("../assets/images/index/wreath.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

.instagram__image--5 {
  background: url("../assets/images/index/blue-flower-fullsize.jpg") no-repeat
    bottom center/cover var(--image-placeholder);
}

.instagram__image--6 {
  background: url("../assets/images/index/line.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

/* Footer */
.footer {
  background-color: var(--tetriary-color);
  color: var(--primary-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
}

.footer__wrap {
  width: 82%;
  margin: auto;
  padding: 4rem 0 3rem 0;
}

.footer__wrap p {
  font-weight: 300;
}

.footer__wrap a {
  font-size: 0.78rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--primary-font-color);
  text-decoration: none;
}

.footer__wrap a:hover {
  color: var(--hover-color);
}

.footer h3 {
  margin-bottom: 1.1rem;
  font-size: 1.55rem;
  font-weight: 900;
}

/* Row 1 */
.footer__first-row {
  display: grid;
  grid-template-columns: 1.4fr 0.5fr 1fr 1.1fr;
  gap: 8rem;
  padding-bottom: 1.5rem;
  border-bottom: 0.1rem solid white;
}

/* Logo & Text */
.footer__brand-wrap {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.footer__logo img {
  width: 15rem;
  filter: invert(40%);
}

.footer__text p {
  text-align: left;
  line-height: 1.4;
  font-style: italic;
  font-size: 0.85rem;
}

/* Social */
.footer__social {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 0.8rem 0;
}

.footer__social img {
  height: 1.1rem;
  filter: invert(40%);
}

/* Navigation */
.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  text-transform: uppercase;
}

.footer__nav-list li a:hover {
  color: var(--hover-color);
}

/* Contact */
.footer__contact li {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1rem;
}

.footer__contact p {
  text-align: left;
}

/*Newsletter*/
.footer__newsletter p {
  font-style: italic;
  font-weight: 300;
}

.footer__newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.footer__newsletter input[type="email"] {
  font-family: var(--font-body);
  padding: 0.3rem;
  height: 1.8rem;
  border: none;
}

.footer__newsletter button {
  padding: 0.4rem;
  color: white;
  background-color: var(--primary-font-color);
  border: none;
  height: 1.8rem;
  font-family: var(--font-body);
}

/* Row 2 */
.footer__second-row {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Credits */
.footer__credits p {
  letter-spacing: 0.01rem;
}

/* Legal */
.footer__legal {
  display: flex;
  gap: 2rem;
}

.footer__legal a:hover {
  color: var(--hover-color);
}

/* JS Helper Classes */
.hidden {
  display: none !important;
}

/* Scroll-reveal-effect */
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

/* Back to Top Button */
#back-to-top {
  position: fixed;
  bottom: 45px;
  right: 25px;
  padding: 0.8rem 1.2rem;
  background-color: var(--primary-font-color);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.5;
}

#back-to-top:hover {
  opacity: 1;
}

/* Tablet Styles */
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }

  p {
    line-height: 1.9;
  }

  .navbar {
    position: relative;
  }

  .navbar__logo {
    justify-self: center;
  }

  .navbar__wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar__menu,
  .navbar__social-and-language {
    display: none;
  }

  /* Burger-Menu Button */
  .navbar__burger-menu {
    display: flex;
    position: absolute;
    right: 1.7rem;
    top: 2.7rem;
    transform: translateY(-50%);
    z-index: 100;
  }

  .navbar__burger-menu button {
    background: none;
    background-color: var(--primary-font-color);
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.8rem;
    height: 2px;
    position: relative;
    z-index: 101;
    transition: background-color 0.3s ease;
  }

  .navbar__burger-menu button::before,
  .navbar__burger-menu button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--primary-font-color);
    transition: transform 0.3s ease;
  }

  .navbar__burger-menu button::before {
    top: -0.7rem;
  }

  .navbar__burger-menu button::after {
    bottom: -0.7rem;
  }

  .navbar__burger-menu button.active {
    background-color: transparent;
  }

  .navbar__burger-menu button.active::before {
    top: 0;
    transform: rotate(45deg);
  }

  .navbar__burger-menu button.active::after {
    bottom: 0;
    transform: rotate(-45deg);
  }

  /* Responsive Menu */
  .responsive-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--backdrop-color);
    z-index: 10;
    justify-content: center;
    align-items: center;
  }

  .responsive-menu ul {
    padding: 1rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .responsive-menu ul li a {
    font-size: 4.5rem;
    font-weight: 500;
    color: var(--primary-font-color);
    font-family: var(--font-heading);
    text-transform: capitalize;
  }

  .responsive-menu ul li a:hover {
    color: var(--hover-color);
  }

  /* Main */
  .main {
    gap: 7.2rem;
    padding-bottom: 7.5rem;
    overflow: hidden;
  }

  .hero__text {
    transform: translateY(-11%);
  }

  .button--primary {
    background-color: var(--primary-color);
    margin-top: 0.8rem;
    padding: 1.1rem 1.5rem;
  }

  .arrow-button img {
    width: 1.8rem;
  }

  /* Instagram */
  .instagram__wrap {
    width: 70%;
    margin: auto;
  }

  .instagram__image {
    width: 9rem;
    height: 9rem;
  }

  /* Footer */
  .footer__wrap {
    width: 80%;
  }

  .footer__first-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    padding-bottom: 1.5rem;
  }

  .footer__brand-wrap {
    width: 95%;
  }

  .footer__brand-wrap {
    width: 95%;
}

  /* Navigation */
  .footer__nav-list {
    gap: 1.3rem;
  }

  .footer__nav-list li a {
    font-size: 0.8rem;
  }
}

/* Larger Phone styles */
@media screen and (max-width: 576px) {
  /* html {
    font-size: 14px;
  } */

  .medium-heading {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.3;
  }

  /* Footer */
  .footer__wrap {
    width: 75%;
  }

  .footer__first-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 1.5rem;
  }

  .footer__brand-wrap {
    width: 85%;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid white;
  }

  /* Navigation */
  .footer__nav-list {
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid white;
  }

  /* Navigation */
  .footer__nav-list {
    gap: 1.3rem;
  }

  .footer__nav-list li a {
    font-size: 0.8rem;
  }

  /* Contact */
  .footer__contact {
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid white;
  }

  /*Newsletter*/
  .footer__newsletter {
    width: 80%;
  }

  /* Row 2 */
  .footer__second-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

/* Smaller Phone Styles */
@media screen and (max-width: 430px) {
  html {
    font-size: 13px;
  }

  /* Hero Section */
  .hero__text {
    width: 100%;
  }
}