* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f8f6f1;
  --secondary-color: #fbfaf7;
  --tetriary-color: #f1eeea;
  --hover-color: #acacab;
  --primary-font-color: #636260;
  --font-heading: "Cormorant Garamond", serif;
  --font-body: Lato, Roboto, serif;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--primary-font-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: var(--font-body);
}

a,
button {
  cursor: pointer;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-size: 3.5rem;
}

h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
}

p {
  font-family: var(--font-body);
  font-size: 0.9rem;
  font-weight: 400;
}

/* Heading classes */
.extra-large-heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 6.4rem;
  color: #dcdad5;
  position: absolute;
}

.large-heading {
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 3rem;
}

.medium-heading {
  padding-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.3;
}

.small-heading {
  padding: 0.9rem 0 1rem 0;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: 0.5px solid #dcdad5;
}

/* Container color classes */
.white-color-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
}

/* Navbar */
.navbar {
  width: 100%;
}

.navbar__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  letter-spacing: 2px;
  width: 88.6%;
  margin: auto;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-font-color);
  text-transform: uppercase;
  font-size: 0.75rem;
}

.navbar a:hover {
  color: var(--hover-color);
}

.navbar__menu {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.navbar__logo {
  display: flex;
  justify-content: center;
}

.navbar__logo img {
  padding: 1.5rem 0;
  height: 6.2rem;
  filter: invert(45%);
}

.navbar__social {
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
  padding-right: 6rem;
}

.navbar__social img {
  height: 1.1rem;
  filter: invert(40%);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 6.8rem;
  padding-bottom: 6.8rem;
}

/* Hero Section*/
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

.hero__text {
  width: 30%;
}

.hero__text h2 {
  color: white;
  font-size: 3rem;
}

/* Buttons */
.button {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--primary-font-color);
  font-family: var(--font-body);
  letter-spacing: 0.24rem;
  font-weight: 600;
}

.button--primary {
  padding: 1rem 1.3rem;
  background-color: var(--tetriary-color);
  font-size: 0.7rem;
  margin-top: 0.7rem;
}

.button--secondary {
  padding: 1rem 0;
  margin-top: 2rem;
  border-bottom: 0.3px solid #dcdad5;
  font-size: 0.75rem;
}

/* Featured */
.featured__container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured__wrap {
  width: 53%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured__logos {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
  min-height: 15rem;
}

.featured__logos h3 {
  font-weight: 500;
  font-size: 2rem;
  color: #94928d;
  text-transform: uppercase;
  padding: 1.6rem 1.6rem;
  flex: 1;
  text-align: center;
}

/* Call to Action */
.cta {
  background: var(--tetriary-color);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  color: var(--secondary-color);
}

.cta__wrap {
  position: absolute;
  left: 21%;
  top: 35%;
}

.cta__wrap h2 {
  font-style: italic;
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--secondary-color);
  padding: 0.7rem 0;
}

.cta__wrap h2 span {
  font-style: italic;
}

/* Instagram Grid */
.instagram__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram__wrap a {
  padding-bottom: 2.5rem;
  color: #414040;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}
.instagram__images {
  display: flex;
  gap: 1rem;
}

.instagram__image {
  width: 11rem;
  height: 11rem;
}

.instagram__image--1 {
  background: url("../assets/images/homepage-portfolio/bouquet2.jpg") no-repeat
    bottom center/cover #414040;
}

.instagram__image--2 {
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg")
    no-repeat center center/cover #414040;
}

.instagram__image--3 {
  background: url("../assets/images/homepage-portfolio/line.jpg") no-repeat
    bottom center/cover #414040;
}

.instagram__image--4 {
  background: url("../assets/images/homepage-portfolio/wreath.jpg") no-repeat
    center center/cover #414040;
}

.instagram__image--5 {
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg")
    no-repeat bottom center/cover #414040;
}

.instagram__image--6 {
  background: url("../assets/images/homepage-portfolio/line.jpg") no-repeat
    center center/cover #414040;
}

/* Footer */
.footer {
  background-color: var(--tetriary-color);
  color: var(--primary-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-body);
  font-size: 0.8rem;
}

.footer a {
  color: var(--primary-font-color);
  text-decoration: none;
  font-size: 0.9rem;
}

.footer h3 {
  padding-bottom: 1.1rem;
  font-size: 1rem;
  font-weight: 600;
}

.footer__wrap {
  width: 83.2%;
  margin: auto;
  padding: 4rem 0 3rem 0;
}

/* Row 1 */
.footer__row--1 {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 1fr 1fr;
  gap: 8rem;
  padding-bottom: 1.5rem;
}

/* Logo & Text */
.footer__brand-wrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.footer__logo img {
  width: 15rem;
  filter: invert(40%);
}

.footer__text p {
  text-align: left;
  line-height: 1.4;
  font-style: italic;
  font-size: 0.8rem;
}

/* Social */
.footer__social {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding: 0.8rem 0;
}

.footer__social img {
  height: 1.1rem;
  filter: invert(40%);
}

/* Navigation */
.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  text-transform: uppercase;
}

.footer__nav-list li a {
  font-size: 0.67rem;
  letter-spacing: 0.1rem;
}

.footer__nav-list li a:hover {
  color: var(--hover-color);
}

/* Contact */
.footer__contact li {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1rem;
}

.footer__contact p {
  text-align: left;
}

/*Newsletter*/
.footer__newsletter p {
  font-style: italic;
}

.footer__newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.footer__newsletter input[type="email"] {
  padding: 0.3rem;
  height: 1.8rem;
  border: none;
}

.footer__newsletter button {
  padding: 0.4rem;
  color: white;
  background-color: var(--primary-font-color);
  border: none;
  height: 1.8rem;
  font-family: var(--font-body);
}

/* Row 2 */
.footer__row--2 {
  border-top: 0.1rem solid white;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__row--2 a,
.footer__row--2 p {
  font-size: 0.8rem;
}

.footer__credits p,
.footer__credits a {
  font-size: 0.8rem;
}

/* Legal */
.footer__legal {
  display: flex;
  gap: 2rem;
}

/* Back to Top Button*/
#back-to-top {
  position: fixed;
  bottom: 45px;
  right: 20px;
  padding: 0.8rem 1.2rem;
  background-color: var(--primary-font-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.7;
  display: none;
}

#back-to-top:hover {
  opacity: 1;
}
