/* Hero Section */
.hero {
  background: url("../assets/images/contact/white-flower-blured.jpg") no-repeat
    center 60% / cover var(--image-placeholder);
  background-attachment: fixed;
}

/* Contact Form Container */
.contact-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 60%;
  margin: auto;
}

.contact-form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 39rem;
  background-color: var(--tetriary-color);
  text-align: center;
  padding: 3rem;
  position: relative;
}

.contact-form__wrap h2 {
  transform: rotate(-90deg);
  top: 25%;
  left: -38%;
}

.contact-form__text {
  text-align: left;
  padding: 1rem 0 2rem 0;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  font-family: var(--body-font);
  border: none;
  border-bottom: 0.5px solid white;
  background-color: var(--tetriary-color);
  padding: 0.3rem 0;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 0.78rem;
  font-family: var(--font-body);
  color: #a7a6a6;
}

.contact-form input,
.contact-form textarea {
  color: var(--primary-font-color);
}

.contact-form input.error,
.contact-form textarea.error {
  border: 1.9px solid #666464a4;
  padding: 0.5rem;
}

.contact-form__button {
  text-transform: uppercase;
  padding: 1rem;
  margin-top: 0.9rem;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

/* Error Message */
.error-container {
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.1rem;
}

.error-message {
  display: inline-block;
  color: #636260d3;
  font-family: var(--font-body);
  font-weight: 800;
  font-size: 0.7rem;
  letter-spacing: 0.02rem;
  opacity: 0;
}

.error-message.visible {
  opacity: 1;
}

/* Image */
.contact-form__image {
  width: 17rem;
  height: 24rem;
  background: url("../assets/images/common/table-setting-white.jpg") no-repeat
    center center/cover var(--image-placeholder);
}

/* Modal  */
.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.contact-modal__content {
  background-color: var(--secondary-color);
  margin: 15% auto;
  padding: 1.5rem;
  width: 35rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-modal__close {
  color: var(--primary-font-color);
  transition: opacity 0.3s ease;
  opacity: 0.6;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.contact-modal__close:hover,
.contact-modal__close:focus {
  opacity: 1;
  cursor: pointer;
}

/* Contact Information */
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  margin: auto;
}

.contact-info__text h2 {
  padding: 0;
  margin-bottom: 1.2rem;
  font-weight: 900;
}

.contact-info__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.contact-info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17rem;
  height: 13rem;
  background-color: var(--tetriary-color);
  padding: 2rem 2rem;
  gap: 1.2rem;
}

.contact-info__box h3 {
  color: var(--primary-font-color);
  font-weight: 900;
  font-size: 1.3rem;
}

.contact-info__box img {
  width: 2.3rem;
}

/* Map */
#map iframe {
  width: 100%;
  filter: saturate(50%) brightness(110%) contrast(90%);
}

/* JS Helper Classes */
.hidden {
  visibility: hidden;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  /* Contact Form */
  .contact-form__container {
    gap: 0rem;
    width: 90%;
    margin: auto;
  }

  .contact-form__wrap {
    width: 37rem;
  }

  /* Image */
  .contact-form__image {
    display: none;
  }

  /* Contact Information */
  .contact-info {
    width: 90%;
  }

  .contact-info__boxes {
    gap: 0.8rem;
  }

  .contact-info__box {
    width: 15rem;
  }
}

/* Larger Phone styles */
@media screen and (max-width: 576px) {
  .contact-form__wrap h2 {
    transform: rotate(0deg);
    top: -8%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* Contact Information */
  .contact-info {
    width: 90%;
    margin: auto;
  }

  .contact-info__boxes {
    flex-direction: column;
    gap: 2.5rem;
  }

  .contact-info__box {
    width: 19rem;
  }
}
