/* Hero Section */
.hero__container {
  background: url("") no-repeat center center/cover
    #414040;
}

/* Contact Form */
.contact-form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.contact-form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34%;
  background-color: var(--tetriary-color);
  text-align: center;
  padding: 3rem;
}

.contact-form__text {
  text-align: left;
  padding: 1rem 0 2rem 0;
  line-height: 1.6;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea,
select {
  padding: 0.8rem;
  border: none;
  border-bottom: 0.5px solid white;
  background-color: var(--tetriary-color);
}

#date {
  color: var(--primary-font-color);
}

#referral-source {
  color: var(--primary-font-color);
}

#referral-source option:hover {
  background-color: var(--primary-font-color);
}

.contact-form__button {
  /* Problem fixed, it can now take any width */
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem;
  color: white;
  background-color: #a2845e;
  border: none;
  cursor: pointer;
}

.contact-form__image {
  width: 15%;
  height: 55%;
  background: url("/images/final-images/img4.jpeg") no-repeat center
    center/cover #414040;
}

/* Contact Information */
.contact-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-info__text {
  width: 60%;
  margin: auto;
}
.contact-info__text h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--primary-font-color);
}

.contact-info__text p {
  line-height: 1.5;
}

.contact-info__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.contact-info__box h3 {
  color: var(--primary-font-color);
}

.contact-info__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 12rem;
  background-color: var(--tetriary-color);
  padding: 2rem 2rem;
  gap: 1.2rem;
}

.contact-info__box img {
  width: 2.3rem;
}

/* Map */
#map iframe {
  width: 100%;
}
