/* Contact Form */
.contact_form_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.contact_form_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 34%;
  background-color: #dddcdc;
  text-align: center;
  padding: 3rem;
}

.contact_form_text {
 text-align: left;
 padding: 1rem 0 2rem 0;
 line-height: 1.6;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.contact_form input,
.contact_form textarea {
  padding: 0.8rem;
  border: none;
  border-bottom: 0.5px solid white;
  background-color: #dddcdc;
}

.contact_form_img {
  width: 15%;
  height: 55%;
  background: url("/images/final-images/img4.jpeg") no-repeat center center/cover
    #414040;
}

.contact_form_button {
  text-transform: uppercase;
  padding: 1rem;
  color: white;
  background-color: #a2845e;
  border: none;
  cursor: pointer;
}

/* Contact Info */
.contact_info_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact_info_text{
  width: 60%;
  margin: auto;
}
.contact_info_text h2{
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #535252;
}

.contact_info_text p {
  line-height: 1.5;
}

.contact_info_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}

.contact_info_box h3 {
  color: white;
}

.contact_info_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 12rem;
  background-color: #dddcdc;
  padding: 2rem 2rem;
  gap: 1rem;
}

.contact_info_box img {
  height: 2.2rem;
  color: #a2845e;
}

/* Map */
#map iframe{
  width:100%;
}

/* Newsletter*/
.newsletter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.newsletter_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  background: #f6f4f3;
  text-align: center;
  padding: 3rem;
}

.newsletter_wrap h2 {
  padding-bottom: 2rem;
}

.newsletter_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.newsletter_subscribe input[type="email"] {
  padding: 0.3rem;
  height: 1.8rem;
  border: none;
}
.newsletter_subscribe button {
  padding: 0.3rem;
  height: 1.8rem;
  color: white;
  background-color: #a2845e;
  border: none;
  cursor: pointer;
}

/* Social Media */
.social_media{
  margin: auto;
}

.social_media h2{
  margin-bottom: 3rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.social_media_icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social_media_icons img {
  height: 2.2rem;
  filter: invert(45%);
}