* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fbfaf7;
  --secondary-color: #f1eeea;
  --primary-font-color: #636260;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
  color: var(--primary-font-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navigation Bar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 0.8em;
  font-family: Lato, Roboto, serif;
  letter-spacing: 2px;
}

.navbar a {
  text-decoration: none;
  color: var(--primary-font-color);
  text-transform: uppercase;
  font-size: 0.7rem;
}

.navbar a:hover {
  color: #acacab;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.navbar__logo {
  display: flex;
  justify-content: center;
}

.navbar__logo img {
  padding: 1.1rem 0;
  width: 15.6rem;
  filter: brightness(0.3) invert(20%);
}

.navbar__social {
  display: flex;
  justify-content: center;
  gap: 0.7em;
  padding-left: 2.5rem;
}

.navbar__social img {
  height: 1.1rem;
  filter: invert(23%);
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-bottom: 8rem;
  font-family: "Times New Roman", Times, serif, sans-serif;
}

/* Hero Section*/
.hero__container {
  background: url("") no-repeat center center/cover #414040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60vh;
}

.hero__text {
  width: 30%;
}

.hero__text h2 {
  color: white;
  font-size: 3rem;
}

/* Buttons */
.button {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #414040;
  font-family: Lato, Roboto, serif;
  font-size: 0.7rem;
}

.button--primary {
  letter-spacing: 0.2rem;
  padding: 1rem;
  margin-top: 2.5rem;
  background-color: #bebab1;
}

.button--secondary {
  letter-spacing: 0.1rem;
  padding: 1rem 0;
  margin: 1.5rem 0;
  border-bottom: 0.5px solid #dcdad5;
}

/* Featured */
.featured__container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.featured__wrap {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.featured__wrap h2 {
  padding: 0.9rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 0.5px solid #dcdad5;
}

.featured__logos {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
}

.featured__logos img {
  height: 8rem;
  width: 17rem;
  padding: 1.6rem;
}

/* Call to Action */
.cta {
  background: url("") var(--secondary-color);
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.cta__wrap {
  position: absolute;
  left: 30%;
}

.cta__wrap h2 {
  font-size: 2.5rem;
}

.cta__wrap h2 span {
  font-style: italic;
}

/* Instagram Grid */
.instagram__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram__wrap a {
  padding: 2.5rem;
  color: #414040;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}
.instagram__images {
  display: flex;
  gap: 1rem;
}

.instagram__image {
  width: 11rem;
  height: 11rem;
  background-color: #414040;
}

/* Footer */
.footer {
  background-color: #414040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer h3 {
  padding-bottom: 1.5rem;
}

.footer__wrap {
  padding: 3.7rem 10rem 3rem 10rem;
}

/* Row 1 */
.footer__row--1 {
  display: grid;
  grid-template-columns: 1.5fr 0.7fr 1fr 1fr;
  gap: 8rem;
  padding-bottom: 1.5rem;
}

/* Logo & Text */
.footer__brand-wrap {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.footer__logo img{
  filter: brightness(0) invert(1);
  width: 15.6rem;
}

.footer__text {
  text-align: left;
}

.footer__social {
  display: flex;
  justify-content: start;
  gap: 0.7em;
  padding: 1.2rem 0;
}

.footer__social img {
  height: 1.1rem;
  filter: invert(1);
}

/* Navigation */
.footer__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.8rem;
}

/* Contact */
.footer__contact li {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 1rem;
}

.footer__contact p {
  text-align: left;
}

/*Newsletter*/
.footer__newsletter form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

.footer__newsletter input[type="email"] {
  padding: 0.3rem;
  height: 1.8rem;
  border: 0.1rem solid #a2845e;
}

.footer__newsletter button {
  padding: 0.3rem;
  color: white;
  background-color: #a2845e;
  border: none;
  cursor: pointer;
  height: 1.8rem;
}

/* Row 2 */
.footer__row--2 {
  border-top: 0.3px solid white;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__legal {
  display: flex;
  gap: 2rem;
}
