/* Main */
.main h2 {
  font-size: 2.5rem;
}

/* Hero Section */
.hero_section_container {
  background: url("/images/dummy-wallpaper3.jpg") no-repeat center center/cover
    #414040;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.hero_section_text {
  width: 30%;
}

h1 {
  color: white;
  font-size: 3rem;
  font-style: italic;
}

/* Website Introduction */
.intro_text {
  width: 45%;
  margin: auto;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

/* Portfolio Overview */
.portfolio_overview_container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.portfolio_overview_container h2 {
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.portfolio_overview_images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.portfolio_overview_img-1 {
  height: 34rem;
  width: 21.1rem;
  background: url("") #414040;
}

.portfolio_overview_img-2 {
  height: 34rem;
  width: 25rem;
  background: url("") no-repeat center center/cover #414040;
}

.portfolio_overview_img-3 {
  height: 34rem;
  width: 21.1rem;
  background: url("") #414040;
}

/* Weddings & Events */
.section_overview_container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_overview_img {
  min-height: 38rem;
  min-width: 30rem;
  background: url("") #414040;
}

.section_overview_text {
  width: 34%;
  padding: 0 4rem;
  line-height: 1.6;
}

.section_overview_text h2 {
  padding: 2rem 0;
}

/* About */
.about_overview_container {
  min-height: 110vh;
}

.about_overview_wrap {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center; 
  margin: auto;
}

.about_overview_images {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.about_overview_img1 {
  grid-column: 4/ span 9;
  grid-row: 1 / span 6;
  z-index: 1;
  background: url("") #414040;

}

.about_overview_img2 {
  grid-column: 10 / span 9;
  grid-row: 6 / span 6;
  z-index: 2;
  background: url("") #4e4d4d;

}

.about_overview_img3 {
  grid-column: 6 / span 6;
  grid-row: 11 / span 4;
  z-index: 3;
  background: url("") #5a5858;
}

.about_overview_text {
  padding: 0 4rem;
  line-height: 1.6;
}

.about_overview_text h2 {
  padding: 2rem 0;
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

/* Featured in */
.featured_in_container {
  height: 65vh;
}

.featured_in_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 7rem;
  margin: 2rem 0;
  background-color: #f6f4f3;
}

.featured_in_container h2 {
  padding: 0.9rem 0 1rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 0.5px solid #dcdad5;
}

.featured_in_magazines {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
}

.featured_in_magazines img {
  height: 8rem;
  width: 17rem;
  padding: 2rem;
}

/* Testimonials */
.testimonials_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.testimonials_container h2 {
  padding: 0.9rem 0 1rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 0.5px solid #dcdad5;
  margin-bottom: 3.7rem;
}

.testimonials_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.testimonials_text {
  width: 31%;
  text-align: left;
  background-color: #f6f4f3;
  padding: 5rem;
}

.testimonials_text h3 {
  font-size: 2rem;
  line-height: ;
}

.testimonials_text p {
  padding-top: 3rem;
}

.testimonials_images {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  height: 100%;
  width: 25%;
}

.testimonials_img1 {
  height: 30rem;
  width: 24rem;
  background: url("") #414040;
  position: absolute;
  top: 6.5rem;
  left: -3rem;
}

.testimonials_img2 {
  height: 17rem;
  width: 11rem;
  background: url("") #5c5a5a;
  position: absolute;
  top: 13rem;
  left: 18rem;
}

/* Call to Action */
.call_to_action {
  background: url("/images/dummy-wallpaper3.jpg") #dddcdc;
  color: #dddddd;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.call_to_action_wrap {
  position: absolute;
  left: 30%;
}

.contact_us_button {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  padding: 1rem 0;
  margin: 1.1rem 0;
  color: #414040;
  padding: 1rem;
  background-color: #bebab1;
  text-align: center;
  text-decoration: none;
}

/* Instagram Grid */
.instagram_grid_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instagram_grid_wrap a {
  padding: 2.5rem;
  color: #414040;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-align: center;
}
.instagram_grid_images {
  display: flex;
  gap: 1rem;
}

.instagram_grid_img {
  width: 11rem;
  height: 11rem;
  background-color: #414040;
}