/* Main */
.main h2 {
  font-size: 2.7rem;
}

/* Hero Section */
.hero_section_container {
  background: url("/images/dummy-wallpaper3.jpg") no-repeat center center/cover
    #414040;
  height: 80vh;
}

h1 {
  color: white;
  font-size: 3rem;
  font-style: italic;
}

/* Website Introduction */
.intro_text {
  width: 45%;
  margin: auto;
  text-align: center;
  line-height: 2rem;
  font-family: Lato, Roboto, serif;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* Portfolio Overview */
.portfolio_overview_container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  height: 80vh;
}

.portfolio_overview_container h2 {
  text-align: center;
  padding-bottom: 3rem;
  text-transform: uppercase;
}

.portfolio_temporary_wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio_overview_images {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 1rem;
}

.portfolio_overview_img-1 {
  background: url("") no-repeat center center/cover #414040;
}

.portfolio_overview_img-2 {
  background: url("") no-repeat center center/cover #414040;
}

.portfolio_overview_img-3 {
  background: url("") no-repeat center center/cover #414040;
}

/* Weddings & Events*/
.services_overview_container {
  height: 80vh;
}

.services_overview_wrap {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.services_overview_img {
  height: 88%;
  width: 88%;
  background: url("") #414040;
}

.services_overview_text {
  padding: 0 1rem;
  width: 90%;
}

.services_overview_text h2 {
  padding-bottom: 2.2rem;
  line-height: 1.2;
  font-weight: 200;
}

.services_overview_text p {
  line-height: 1.6;
}

/* Weddings */
.weddings_overview_text p {
  padding-right: 2rem;
}

/* Events */
.events_overview_text_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
}

.events_overview_text p {
  padding-left: 2rem;
}

.events_overview_img_wrap {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* About */
.about_overview_container {
  min-height: 110vh;
}

.about_overview_wrap {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.about_overview_images {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.about_overview_img1 {
  grid-column: 2 / span 9;
  grid-row: 1 / span 6;
  z-index: 1;
  background: url("") #414040;
}

.about_overview_img2 {
  grid-column: 8 / span 9;
  grid-row: 6 / span 6;
  z-index: 2;
  background: url("") #4e4d4d;
}

.about_overview_img3 {
  grid-column: 4 / span 6;
  grid-row: 11 / span 4;
  z-index: 3;
  background: url("") #5a5858;
}

.about_overview_text h2 {
  padding: 2rem 0;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-size: 2.7rem;
}

.about_overview_text {
  width: 70%;
  line-height: 1.6;
}

/* Featured in */
.featured_in_container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.featured_in_wrap {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;
}

.featured_in_container h2 {
  padding: 0.9rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-bottom: 0.5px solid #dcdad5;
}

.featured_in_magazines {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem 3rem 3rem;
}

.featured_in_magazines img {
  height: 8rem;
  width: 17rem;
  padding: 1.6rem;
}

/* Testimonials */
.testimonials_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.testimonials_container h2 {
  padding: 0.9rem 0 1rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: 0.5px solid #dcdad5;
  margin-bottom: 3.7rem;
}

.testimonials_wrap {
  height: 74%;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.testimonials_text {
  grid-column: 1 / span 19;
  grid-row: 1 / span 16;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: var(--primary-color);
  padding: 5rem;
}

.testimonials_img-1 {
  grid-column: 19 / span 10;
  grid-row: 3 / span 11;
  background: url("") #414040;
  z-index: 2;
}

.testimonials_img-2 {
  grid-column: 28 / span 6;
  grid-row: 5 / span 7;
  background: url("") #5c5a5a;
  z-index: 3;
}

.testimonials_text h3 {
  font-size: 2rem;
}

.testimonials_text p {
  padding-top: 3rem;
}

/* Call to Action */
.call_to_action {
  background: url("/images/dummy-wallpaper3.jpg") #dddcdc;
  color: #dddddd;
  height: 80vh;
}

.call_to_action_wrap h2 span{
  font-style: italic;
}

.contact_us_button {
  margin: 1.1rem 0;
  color: #414040;
  padding: 1rem;
  background-color: #bebab1;
}