/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader img {
  height: 39px;
  margin-top: -1.7rem;
  filter: grayscale(100%) brightness(200%);
}

/* Center and resize the SVG */
#loader-svg {
  width: 360px;
}

svg g {
  transform: translate(130%, 0);
  transform-box: fill-box;
  transform-origin: 0 0;
}

/* Keyframes for fading */
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Indivual flowers */
#Flower_1 {
  animation: fadeInOut 3s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  transform: translate(125%, 16px);
}

#Flower_2 {
  animation: fadeInOut 3s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  transform: translate(130%, 0);
}

#Flower_3 {
  animation: fadeInOut 3s infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  transform: translate(184%, 19%) scale(1.27);
}

/* SVG colors*/
.st0 {
  fill: #f1d5da;
}

.st1 {
  fill: #e2c0cb;
}

.st2 {
  fill: #944866;
}

.st3 {
  fill: #c1777f;
}

.st4 {
  fill: #fcfafb;
}

.st5 {
  fill: #cfa9a2;
}

.st6 {
  fill: #f6e2e3;
}

.st7 {
  fill: #dab8ae;
}

.st8 {
  fill: #faefed;
}

.st9 {
  fill: #e1bcb8;
}

.st10 {
  fill: #e8cebe;
}

.st11 {
  fill: #dbba9d;
}

.st12 {
  fill: #e5c8a8;
}

.st13 {
  fill: #dfc0b2;
}

.st14 {
  fill: #d6afaa;
}

.st15 {
  fill: #e9ccc4;
}

.st16 {
  fill: #ddb49e;
}

.st17 {
  fill: #ae5c74;
}

/* Hero Section */
.hero {
  background: url("../assets/images/index/blue-flower-photoshoped.jpg")
    no-repeat center 64.6% / cover var(--image-placeholder);
  height: 75vh;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  text-transform: none;
}

h1 span {
  font-style: italic;
}

.hero__text {
  padding: 2rem 3rem;
  width: 40%;
}

.hero .button {
  margin-top: 2rem;
  color: var(--primary-font-color);
}

/* Horizontal lines */
/* .hero .button::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10rem;
    height: 1px;
    transform: translate(-160%, 500%);
    background-color: var(--tetriary-color);
    vertical-align: middle;
}

.hero .button::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10rem;
    height: 1px;
    transform: translate(60%, 500%);
    background-color: var(--tetriary-color);
    vertical-align: middle;
} */

/* Website Introduction */
.intro__text {
  width: 45.5%;
  margin: auto;
  text-align: center;
  line-height: 2.1;
  text-transform: uppercase;
}

.intro__text p {
  font-size: 0.75rem;
  letter-spacing: 0.18rem;
  font-weight: 400;
}

/* Portfolio Overview */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  position: relative;
}

/* Portfolio Carousel */
.portfolio-carousel {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.portfolio-carousel__viewport {
  overflow: hidden;
  width: 60%;
  margin: auto;
}

.portfolio-carousel__images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.portfolio-carousel__slide {
  min-width: calc(100% / 3);
}

.portfolio-carousel__slide img {
  height: 35rem;
  width: 100%;
  max-width: 23rem;
  display: block;
  margin: 0 auto;
}

/* Navigation Arrows */
.portfolio .arrow-button {
  top: 53%;
}

.portfolio .arrow-button--previous {
  left: 17%;
}

.portfolio .arrow-button--next {
  right: 17%;
}

/* Controls */
.portfolio-carousel__controls {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
}

.portfolio-carousel__controls a img {
  width: 3rem;
}

.portfolio-carousel:hover .portfolio-carousel__controls {
  display: block;
}

/* INTENIONALLY COMMENTED OUT */

/* User Input Timer */
/* .slider__container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 0.2rem;
    background: #a3a2a2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #606b67;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #606b67;
    cursor: pointer;
}

label {
    font-style: italic;
    color: var(--primary-font-color);
    text-align: center;
}

#current-duration {
    padding: 1rem;
    color: var(--primary-font-color);
} */

/* Services*/
.services {
  background-color: var(--primary-color);
  padding: 6.5rem 0;
}

.services__container {
  height: 80vh;
  position: relative;
}

.services__wrap {
  width: 60%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.mobile {
  display: none;
}

.services__image {
  height: 92%;
  width: 92%;
}

.services__text {
  width: 90%;
  justify-self: start;
  padding-left: 4rem;
}

.services__text h3 {
  font-size: 3rem;
  margin-bottom: 2.4rem;
  line-height: 1.1;
  font-family: var(--font-heading);
  font-weight: 500;
}

.services__text p {
  line-height: 1.9;
  width: 90%;
}

/* Weddings */
.services__container--weddings h2 {
  transform: rotate(-90deg);
  top: 20%;
  left: 5.5%;
}

.services__image.services__image--weddings {
  background: url("../assets/images/index/bouquet2.jpg")
    var(--image-placeholder) no-repeat center center/cover;
  justify-self: start;
}

/* Events */
.services__container--events h2 {
  transform: rotate(90deg);
  top: 10%;
  right: 9.6%;
}

.services__image.services__image--events {
  background: url("../assets/images/index/line.jpg") var(--image-placeholder)
    no-repeat center center/cover;
  justify-self: end;
}

.services__text--events {
  justify-self: start;
  padding-left: 2rem;
}

/* About */
.about {
  height: 100vh;
}

.about__wrap {
  height: 100%;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: auto;
}

.about__wrap.mobile {
  display: none;
}

.about__images {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.about__image--1 {
  grid-column: 2 / span 8;
  grid-row: 1 / span 7;
  z-index: 1;
  background: url("../assets/images/index/line.jpg") no-repeat center
    center/cover var(--image-placeholder);
}

.about__image--2 {
  grid-column: 8 / span 8;
  grid-row: 6 / span 7;
  z-index: 2;
  background: url("../assets/images/index/blue-flower-fullsize.jpg") no-repeat
    center center/cover #4e4d4d;
}

.about__image--3 {
  grid-column: 4 / span 6;
  grid-row: 12 / span 5;
  z-index: 3;
  background: url("../assets/images/index/wreath.jpg") no-repeat center
    center/cover #5a5858;
}

.about__text {
  width: 62%;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__text h2 {
  margin-bottom: 2.1rem;
  text-transform: uppercase;
  line-height: 1.1;
}

/* Featured In */
.featured {
  height: 60vh;
  background-color: var(--primary-color);
}

.featured__wrap {
  width: 52%;
}

.featured__logos h3 {
  font-size: 3.7rem;
  margin: 1.5rem 1.3rem;
  opacity: 0;
}

.animate {
  animation: fadeInUp 0.5s forwards;
}

.featured__logos h3:nth-child(1).animate {
  animation-delay: 0.3s;
  color: #b6b5b2;
}

.featured__logos h3:nth-child(2).animate {
  animation-delay: 0.6s;
  color: #8d8c8a;
}

.featured__logos h3:nth-child(3).animate {
  animation-delay: 0.9s;
  color: #aaa9a7;
}

.featured__logos h3:nth-child(4).animate {
  animation-delay: 1.2s;
  color: #7c7b78;
}

.featured__logos h3:nth-child(5).animate {
  animation-delay: 1.5s;
  color: #7c7b80;
}

.featured__logos h3:nth-child(6).animate {
  animation-delay: 1.8s;
  color: #abaaa7;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.testimonials h2 {
  margin-bottom: 2.5rem;
}

.testimonials__carousel {
  height: 71%;
  width: 57%;
  display: grid;
  grid-template-columns: repeat(35, 1fr);
  grid-template-rows: repeat(20, 1fr);
  position: relative;
}

.testimonials__text {
  grid-column: 1 / span 20;
  grid-row: 1 / span 20;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: left;
  background-color: var(--primary-color);
  padding: 5rem;
}

.testimonials__text h3 {
  font-size: 2rem;
  font-weight: 500;
}

.testimonials__text p {
  line-height: 1.7;
}

/* Images */
.testimonials__image--1 {
  grid-column: 20 / span 11;
  grid-row: 4 / span 14;
  background: no-repeat center center/cover var(--image-placeholder);
  z-index: 2;
}

.testimonials__image--2 {
  grid-column: 30 / span 6;
  grid-row: 7 / span 8;
  background: no-repeat center center/cover #5c5a5a;
  z-index: 3;
}

/* Navigation Arrows */
.testimonials .arrow-button--previous {
  left: 18%;
}

.testimonials .arrow-button--next {
  right: 18%;
}

/* Dots */
.testimonials__dots {
  text-align: center;
  margin-top: 2rem;
}

.dot {
  display: inline-block;
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* Call to Action */
.cta {
  background: url("../assets/images/index/blue-flower-fullsize.jpg") no-repeat
    center 50% / cover var(--image-placeholder);
  height: 60vh;

  /* Parallax Scroll Effect */
  background-attachment: fixed;
}

/* Respinsive Design */

/* Laptop Styles */
/* @media screen and (min-width: 769px) and (max-width: 1024px) { */
/* Navbar */
/* .navbar__wrap {
    width: 95%;
  } */

/* Website Introduction */
/* .intro__text {
    width: 57%;
    text-align: center;
    line-height: 2.1;
  } */

/* Portfolio Overview */
/* .portfolio {
    height: 90vh;
  } */

/* Portfolio Carousel */
/* .portfolio-carousel__viewport {
    width: 87%;
  } */

/* .portfolio-carousel__slide img {
    height: 39rem;
    max-width: 26.9rem;
  } */

/* Navigation Arrows */
/* .portfolio-carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  } */

/* .portfolio-carousel__button--previous {
    left: 4%;
  } */

/* .portfolio-carousel__button--next {
    right: 4%;
  }
} */

@media screen and (max-width: 768px) {
  /* Loader */
  #loader-svg {
    width: 310px;
  }

  .loader img {
    height: 33.54px;
  }

  /* Hero Section */
  .hero__text {
    width: 79%;
    line-height: 1;
  }

  /* Website Introduction */
  .intro__text {
    width: 82%;
    text-align: left;
    text-transform: none;
  }

  .intro__text p {
    font-family: var(--font-heading);
    font-size: 1.4rem;
    line-height: 2.1;
    font-style: italic;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }

  /* Portfolio Carousel */
  .portfolio-carousel__viewport {
    width: 90%;
  }

  .portfolio-carousel__slide img {
    height: 24.5rem;
    max-width: 15rem;
  }

  /* Navigation Arrows */
  .portfolio .arrow-button--previous {
    left: 0.5%;
  }

  .portfolio .arrow-button--next {
    right: 0.5%;
  }

  /* Services */
  .services__container {
    height: auto;
  }

  .services__wrap {
    width: 89%;
  }

  .services__image {
    height: 30rem;
    width: 92%;
  }

  .services__text {
    width: 100%;
    padding-left: 1rem;
  }

  .services__text p {
    width: 95%;
  }

  .services__text a span {
    display: none;
  }

  /* Weddings */
  .services__container--weddings {
    padding-bottom: 7rem;
  }

  .services__container--weddings h2 {
    left: -26.5%;
  }

  /* Events */
  .services__container--events h2 {
    right: -17%;
  }

  .services__text--events {
    padding-left: 0;
  }

  /* About */
  .about {
    height: auto;
  }

  .about__wrap {
    width: 92%;
    gap: 2.8rem;
  }

  .about__text {
    width: 90%;
  }

  .about__text h2 {
    line-height: 1;
  }

  /* Featured In */
  .featured__wrap {
    width: 90%;
  }

  .featured__logos h3 {
    font-size: 2.7rem;
    margin: 1.6rem 1.1rem;
  }

  /* Testimonials */
  .testimonials {
    height: auto;
  }

  .testimonials__carousel {
    height: 43rem;
    width: 88%;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(17, 1fr);
  }

  .testimonials__text {
    grid-column: 1 / span 24;
    grid-row: 1 / span 17;
    padding: 4.2rem 4.3rem 4.1rem 3.9rem;
  }

  .testimonials__text p {
    line-height: 1.7;
  }

  .testimonials__text p span {
    display: none;
  }

  /* Images */
  .testimonials__image--1 {
    grid-column: 23 / span 10;
    grid-row: 6 / span 7;
    background: no-repeat center center/cover var(--image-placeholder);
    z-index: 2;
  }

  .testimonials__image--2 {
    display: none;
  }

  /* Navigation Arrows */
  .testimonials .arrow-button--previous {
    left: 1%;
  }

  .testimonials .arrow-button--next {
    right: 1%;
  }
}

/* Phone Styles */
@media screen and (max-width: 576px) {
  /* Loader */
  #loader-svg {
    width: 260px;
  }

  .loader img {
    height: 28px;
  }

  /* Hero Section */
  .hero__text {
    width: 90%;
  }

  /* Website Introduction */
  .intro__text {
    width: 85%;
  }

  /* Portfolio Carousel */
  .portfolio-carousel__viewport {
    width: 100%;
  }

  .portfolio-carousel__slide {
    min-width: calc(100% / 1);
  }

  .portfolio-carousel__slide img {
    height: 37rem;
    max-width: 30rem;
  }

  /* Navigation Arrows */
  .portfolio-carousel__button--previous {
    left: 2.5%;
  }

  .portfolio-carousel__button--next {
    right: 2.5%;
  }

  /* Services */
  .services__container {
    height: auto;
  }

  .services__wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 88%;
    align-items: start;
    gap: 2.5rem;
  }

  .mobile {
    display: grid;
  }

  .desktop {
    display: none;
  }

  .services__image {
    height: 45rem;
    width: 100%;
  }

  .services__text {
    width: 100%;
    height: auto;
    justify-self: start;
    padding-left: 1rem;
  }

  .services__text h3 {
    margin-bottom: 2rem;
  }

  .services__text p {
    width: 95%;
    line-height: 2.8;
  }

  /* Weddings */
  .services__container--weddings h2 {
    top: 9%;
    left: -34%;
  }

  /* Events */
  .services__container--events h2 {
    top: 4%;
    right: -21.8%;
  }

  /* About */
  .about {
    height: auto;
  }

  .about__wrap.desktop {
    display: none;
  }

  .about__wrap.mobile {
    display: block;
  }

  .about__wrap {
    height: 100%;
    width: 89%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: auto;
  }

  .about h2 {
    justify-self: end;
    width: 60%;
  }

  .about__images {
    height: 50rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(10, 1fr);
  }

  .about__image--1 {
    grid-column: 5 / span 12;
    grid-row: 1 / span 7;
    z-index: 2;
  }

  .about__image--2 {
    grid-column: 1 / span 8;
    grid-row: 6 / span 6;
    z-index: 1;
  }

  .about__text {
    width: 95%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2.5rem;
    line-height: 2.8;
  }

  /* Featured In */
  .featured__wrap {
    width: 90%;
  }

  .featured__logos h3 {
    margin: 1.6rem 1.2rem;
  }

  .featured__logos h3:nth-child(3).animate {
    color: #8d8c8a;
  }

  .featured__logos h3:nth-child(4).animate {
    color: #7c7b80;
  }

  .featured__logos h3:nth-child(5).animate {
    color: #7c7b78;
  }

  /* Testimonials */
  .testimonials {
    height: auto;
  }

  .testimonials__carousel {
    height: 43rem;
    width: 88%;
    grid-template-columns: 1fr;
  }

  .testimonials__text {
    /* background-color: var(--secondary-color); */
    padding: 4.2rem 4.3rem 4.1rem 3.9rem;
  }

  .testimonials__text p {
    line-height: 1.7;
  }

  .testimonials__text p span {
    display: none;
  }

  /* Images */
  .testimonials__image--1 {
    display: none;
  }

  .testimonials__image--2 {
    display: none;
  }

  /* Navigation Arrows */
  #arrow-back {
    left: 1%;
  }

  #arrow-forward {
    right: 1%;
  }
}

/* Smaller Phone Styles */
@media screen and (max-width: 430px) {
  /* Hero Section */
  .hero__text {
    width: 100%;
  }
}
