/* Hero Section */
.hero {
  background: url("../assets/images/homepage-portfolio/bouquet2.jpg") no-repeat
    center 56% / cover #414040;
}

/* Portfolio */
.portfolio__select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio__select a {
  font-family: var(--font-heading);
  font-size: 1.15rem;
  font-weight: 400;
}

.portfolio__select a:hover {
  color: var(--hover-color);
}

.portfolio__select a.active {
  font-size: 1.2rem;
  font-weight: 900;
  color: #575756;
}

.portfolio__select h3 {
  text-transform: uppercase;
}

.portfolio__select a {
  color: var(--primary-font-color);
}

#portfolio__gallery {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-top: 5rem;
}

.portfolio__card {
  height: 31rem;
  width: 19.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Portfolio Image Click Animation */
.portfolio__image {
  width: 100%;
  height: 90%;
  transition: transform 0.3s ease-in-out;
}

.portfolio__image:hover {
  cursor: pointer;
}

.portfolio__image:hover {
  transform: scale(1.05);
}

.portfolio__card p {
  width: 80%;
  text-align: left;
  margin: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

/* Modal backdrop */
.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

/* Modal content */
.modal-content {
  display: block;
  margin: 4% auto;
  max-width: 95%;
  max-height: 75vh;
}

/* Close button */
.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}

/* Caption below the image */
#caption {
  width: auto;
  text-align: center;
  margin: 1rem auto 0;
  text-transform: uppercase;
  font-size: 0.78rem;
  font-weight: 700;
  line-height: 1.6;
  font-family: var(--font-body);
  letter-spacing: 0.05em;
  color: #ccc;
}

/* Call to Action */
.cta {
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg")
    no-repeat center center/cover#dddcdc;
  background-attachment: fixed;
}
