/* Portfolio */
.portfolio_select a:hover, .portfolio_select a:active{
  border-bottom: 0.1rem solid #a2845e;
}

.portfolio_select{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio_select h3{
  text-transform: uppercase;
}

.portfolio_select a{
  color: var(--primary-font-color);
}

.portfolio_cards{
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-top: 5rem;
}

.portfolio_img{
  min-height: 28rem;
  min-width: 19rem;
  background: url("") #414040;
}

.portfolio_card p{
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}