/* Hero Section */ 
.hero__container {
  background: url("../assets/images/homepage-portfolio/bouquet2.jpg") no-repeat center 55%/cover #414040;
}

/* Portfolio */
.portfolio__select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio__select a{
font-family: var(--font-heading);
font-size: 1.15rem;
font-weight: 400;
}

.portfolio__select a:hover {
  color: #acacab;
}

.portfolio__select a:active {
  font-size: 1.2rem;
  font-weight: 900;
  color: #575756;
}

.portfolio__select h3 {
  text-transform: uppercase;
}

.portfolio__select a {
  color: var(--primary-font-color);
}

#portfolio__gallery {
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  margin-top: 5rem;
}

.portfolio__card {
  height: 31rem;
  width: 19.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__image {
  width: 100%;
  height: 90%;
}

.portfolio__card p {
  width: 80%;
  text-align: center;
  margin: auto;
  margin-top: 1rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
}

/* Call to Action */
.cta {
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg") no-repeat center center/cover#dddcdc;
  background-attachment: fixed;
}
