.main {
  padding-bottom: 4rem;
}

.privacy-policy {
  width: 48%;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  line-height: 1.8;
}

.privacy-policy p:first-child {
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

h4 {
  text-transform: uppercase;
  color: var(--primary-font-color);
}

h4:first-of-type {
  text-transform: none;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  .privacy-policy {
    width: 75%;
  }
}

/* Larger Phone styles */
@media screen and (max-width: 576px) {
  .privacy-policy {
    width: 80%;
  }
}
