/* Main */
.main {
  background-color: #fbfaf7;
}

/* Weddings */
.weddings__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.weddings__text {
  width: 45%;
  padding: 2.5rem 3.5rem;
  background-color: white;
}

.weddings__text p {
  line-height: 1.6;
  padding: 2rem 2rem 0 0;
}

.weddings__text h2 {
  padding: 2rem 0;
  font-size: 2.9rem;
  font-weight: 200;
}

.weddings__text h2 span {
  font-style: italic;
}

.weddings__image {
  height: 40rem;
  width: 32rem;
  background: url("") #414040;
}

/* Process */
.process__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 8rem 0;
}
.process__description {
  width: 50%;
}

.process__description h2{
  font-size: 2.6rem;
  font-weight: 200;
  padding-bottom: 2rem;
}

.process__description p{
  column-count: 2;
  column-gap: 5rem;
  line-height: 1.8;
  padding: 1rem 0 8rem 5rem;
  text-align: justify;
}

.process__steps{
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.process__steps-image {
  height: 50rem;
  width: 35rem;
  background: url("/images/final-images/img2.png") no-repeat center center/cover #414040;
}

.process__steps-text{
  width: 30%;
  padding-top: 3rem;
}

.process__steps-text p{
  padding-bottom: 3rem;
  line-height: 1.8;
}

/* Testimonials */
.testimonians__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
  text-align: center;
}

.testimonials__content h2 {
  padding-bottom: 3rem;
}

.testimonials__content p {
  line-height: 1.8;
}

/* Sections */
.section__container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__image {
  min-height: 40rem;
  min-width: 32rem;
  background: url("") #414040;
}

.section__text {
  width: 30%;
  padding: 2.5rem 4.5rem;
  background-color: white;
}

.section__text p {
  line-height: 1.6;
}

.section__text h2 {
  font-size: 2.5rem;
  font-weight: 200;
  padding: 2rem 0;
}
