span {
  font-style: italic;
}

/* Main */
.main {
  background-color: var(--primary-color);
  padding-bottom: 0;
}

.hero {
  background: url("../assets/images/common/blue-flowers-staircase-sculture-landscape.jpg") no-repeat
    center 68% / cover var(--image-placeholder);
}

/* Weddings */
.weddings__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.weddings__text {
  width: 43%;
  height: 35rem;
  padding: 3rem 3rem 3rem 4rem;
  background-color: white;
}

.weddings__text p {
  line-height: 2;
  padding: 2rem 2rem 0 0;
}

.weddings__text h2 {
  padding: 2rem 0 0 0;
  margin: 0;
}

.weddings__image {
  height: 42rem;
  width: 32rem;
  background: url("../assets/images/common/wedding-white-flowers.jpg") no-repeat center center/cover var(--image-placeholder);
}

/* Process */
.process {
  padding-top: 6.8rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.process__description {
  width: 50%;
}

.process__description p {
  column-count: 2;
  column-gap: 4.99rem;
  line-height: 2;
  padding: 1rem 0 5rem 5rem;
  text-align: left;
}

/* Steps */
.process__steps {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.process__steps-image {
  height: 50rem;
  width: 35rem;
  background: url("../assets/images/services/flower-arch-indoors.png") no-repeat
    center center/cover var(--image-placeholder);
  position: relative;
  z-index: 0;
  box-shadow: inset 0 0 300px rgba(0, 0, 0, 0.5);
}

.process__steps-text {
  width: 30%;
}

span.extra-large-heading {
  transform: translate(-150%, -10%);
  font-weight: 300;
  font-size: 4.8rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

span.extra-large-heading::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  border-bottom: 0.12rem solid;
  margin-left: 0.5rem;
}

.process__steps-text p {
  padding-bottom: 2.9rem;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6.8rem;
}

.testimonials__carousel {
  width: 42%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.testimonials__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 4rem;
}

.testimonials__text h3 {
  font-size: 1.9rem;
  font-weight: 400;
}

.testimonials__text p {
  padding-top: 3rem;
}

/* Navigation Arrows */
.testimonials .arrow-button--previous {
  left: -6%;
}

.testimonials .arrow-button--next {
  right: -6%;
}

/* Dots */
.testimonials__dots {
  text-align: center;
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* Sections */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
  padding: 4rem 0;
}

.section__image {
  height: 42rem;
  width: 31rem;
}

.section__text {
  width: 50%;
  height: 38rem;
  padding: 4rem 3.6rem;
  background-color: white;
}

.section__text h2 {
  line-height: 1.2;
}

/* Corpotate Events & Galas */
.section__image-galas {
  background: url("../assets/images/common/venue-table-luxury.jpg")
    no-repeat center center/cover var(--image-placeholder);
}

/* PR Events */
.section__image-pr {
  background: url("../assets/images/common/blue-flowers-staircase-sculpture.jpg")
    no-repeat center center/cover var(--image-placeholder);
}

/* Private dinners */
.section__image-dinners {
  background: url("../assets/images/services/dinner-woman.png") no-repeat center
    center/cover var(--image-placeholder);
}

/* Clients */
.featured {
  height: 70vh;
  background-color: white;
}

.featured__wrap {
  width: 52%;
}

.featured h2 {
  margin-top: 1rem;
}

.featured__logos h3 {
  font-size: 1.9rem;
  font-weight: 500;
  padding: 1.6rem 1.4rem;
}

/* CTA */
.cta {
  background: url("../assets/images/services/yellow-table-setting.jpg") no-repeat center
    center/cover var(--image-placeholder);
  color: var(--secondary-font-color);
  /* Parallax Scroll Effect */
  background-attachment: fixed;
}

/* Instagram */
.instagram__container {
  padding-bottom: 6.8rem;
}

/* Tablet styles */
@media screen and (max-width: 768px) {
  /* Weddings */
  .weddings__wrap {
    width: 82%;
  }

  .weddings__text {
    width: 50%;
    background-color: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 1.5rem 0 0;
  }

  .weddings__text h2 {
    order: 1;
  }

  .weddings__text p {
    order: 2;
  }

  .weddings__text a {
    order: 3;
  }

  .weddings__image {
    height: 30rem;
    width: 50%;
  }

  /* Process */
  .process__description {
    width: 82%;
  }

  .process__description p {
    column-count: 1;
  }

  .process__steps {
    width: 70%;
    flex-direction: column;
  }

  .process__steps-text {
    width: 100%;
    padding-left: 11rem;
    order: 1;
  }

  .process__steps-image {
    height: 38rem;
    width: 80%;
    margin-left: -3rem;
    order: 2;
  }

  span.extra-large-heading {
    transform: translate(-135%, -30%);
  }

  /* Testimonials */
  .testimonials {
    padding-bottom: 0;
  }

  .testimonials__carousel {
    width: 82%;
  }

  .testimonials__text h3 {
    font-size: 1.6rem;
  }

  /* Navigation Arrows */
  .testimonials .arrow-button--previous {
    left: -2%;
  }

  .testimonials .arrow-button--next {
    right: -2%;
  }

  /* Sections */
  .section {
    width: 82%;
    padding: 0;
    gap: 4rem;
    flex-direction: column;
    align-items: center;
  }

  .section__image {
    height: 35rem;
    width: 65%;
    order: 1;
  }

  .section__text {
    width: 100%;
    height: auto;
    padding: 0 1rem;
    background-color: unset;
    order: 3;
  }

  .section__text h2 {
    order: 1;
    width: 100%;
  }

  .section__text a {
    order: 4;
  }

  /* Clients */
  .featured {
    height: auto;
  }

  .featured__wrap {
    width: 85%;
  }

  .featured h2 {
    margin-top: 2rem;
  }

  .featured__logos h3 {
    font-size: 1.9rem;
    padding: 2rem 1.4rem;
  }
}

/* Larger Phone styles */
@media screen and (max-width: 576px) {
  .weddings__wrap {
    width: 84%;
    flex-direction: column;
  }

  .weddings__text {
    width: 95%;
    height: auto;
    margin: auto;
    padding: 0;
    order: 2;
  }

  .weddings__image {
    height: 39rem;
    width: 100%;
  }

  /* Process */
  .process__description {
    width: 84%;
  }

  .process__description p {
    margin-bottom: 4rem;
  }

  .process__steps {
    width: 84%;
  }

  .process__steps-image {
    width: 100%;
    height: 38rem;
    margin-left: 0;
  }

  .process__steps-text {
    width: 100%;
    padding-left: 10rem;
    order: 2;
  }

  span.extra-large-heading::after {
    border-bottom: 0.15rem solid;
    margin-left: 1rem;
  }

  /* Testimonials */
  .testimonials__carousel {
    width: 90%;
  }

  /* Navigation Arrows */
  .testimonials .arrow-button--previous {
    left: -6%;
  }

  .testimonials .arrow-button--next {
    right: -6%;
  }

  /* Sections */
  .section {
    width: 84%;
    padding: 0;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  .section__image {
    height: 38rem;
    width: 100%;
    order: 1;
  }

  .section__text {
    width: 95%;
    height: auto;
    padding: 0 1rem;
    order: 2;
  }
}
