span {
  font-style: italic;
}

/* Main */
.main {
  background-color: var(--primary-color);
}

.hero__container {
  background: url("../assets/images/homepage-portfolio/wreath.jpg") no-repeat
    center center/cover #414040;
}

/* Weddings */
.weddings__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: auto;
}

.weddings__text {
  width: 45%;
  padding: 2.5rem 3.5rem;
  background-color: white;
}

.weddings__text p {
  line-height: 2;
  padding: 2rem 2rem 0 0;
}

.weddings__text h2 {
  padding: 2rem 0 0 0;
}

.weddings__image {
  height: 40rem;
  width: 32rem;
  background: url("../assets/images/homepage-portfolio/bouquet2.jpg") no-repeat
    center center/cover #414040;
}

/* Process */
.process__container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0 8rem 0;
}
.process__description {
  width: 50%;
}

.process__description p {
  column-count: 2;
  column-gap: 5rem;
  line-height: 2;
  padding: 1rem 0 5rem 5rem;
  text-align: justify;
}

.process__steps {
  width: 65%;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.process__steps-image {
  height: 50rem;
  width: 35rem;
  background: url("../assets/images/hero-sections/blue-flower-fullsize.jpg")
    no-repeat center center/cover #414040;
}

.process__steps-text {
  width: 30%;
}

span.large-heading {
  transform: translate(-150%, -15%);
  font-weight: 300;
  font-size: 5rem;
}

span.large-heading::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 3rem;
  border-bottom: 0.1rem solid;
  margin-left: 0.5rem;
}

.process__steps-text p {
  padding-bottom: 3rem;
  line-height: 1.8;
}

/* Testimonials */
.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials h2 {
  padding: 0.9rem 0 1rem 0;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  border-bottom: 0.5px solid #dcdad5;
}

.testimonials__carousel {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.testimonials__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.testimonials__text h3 {
  font-size: 2rem;
  font-weight: 400;
}

.testimonials__text p {
  padding-top: 3rem;
}

/* Navigation Arrows */
#arrow-back {
  width: 2rem;
  filter: invert(80%);
  cursor: pointer;
}

#arrow-forward {
  width: 2rem;
  filter: invert(80%);
  cursor: pointer;
}

/* Controls */
.testimonials-carousel__controls img {
  cursor: pointer;
  width: 2.5rem;
}

.testimonials-carousel__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none;
  filter: invert(30%);
}

.testimonials__carousel:hover .testimonials-carousel__controls {
  display: block;
}

/* Dots */
.testimonials__dots {
  text-align: center;
  margin-top: 1rem;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}

/* Sections */
.section__container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__image {
  min-height: 40rem;
  min-width: 32rem;
  background: url("") #414040;
}

.section__text {
  width: 30%;
  padding: 2.5rem 4.5rem;
  background-color: white;
}

.section__text p {
  line-height: 1.6;
}

.section__text h2 {
  font-size: 2.5rem;
  font-weight: 200;
  padding: 2rem 0;
}

.cta {
  background: url("../assets/images/homepage-portfolio/wreath.jpg") no-repeat
    center center/cover#dddcdc;
  color: var(--secondary-font-color);
  /* Parallax Scroll Effect */
  background-attachment: fixed;
}
