*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #333;
}

.container{
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

/* Navbar */
/* .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
    font-size: 0.8em;
    padding: 0 6em;
} */

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-size: 0.8em;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 2em;
}

.logo{
    display: flex;
    justify-content: center;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}

.logo img{
    padding: 2em 0;
}

.social{
    display: flex;
    justify-content: center;
    gap: 0.7em;
}

.social img{
    height: 1.1rem;
}

/* Hero Sectio */
.hero-section{
    background: #333;
    height: 100%;
}